<h3>
	<br>Write a todo list management web application where: 
	<br>- I can have my todo list displayed.  - done
	<br>- I can manipulate my list (add/remove/modify entries). - done
	<br>- Assign priorities and due dates to the entries. - done
	<br>- I can sort my entry lists using due date and priority. - in progress
	<br>- I can mark an entry as completed. - done 
	<br>- Minimal UI/UX design is needed.  - done
	<br>- I need every client operation done using JavaScript, reloading the page is 
	not an option. - pending
	<br>- As complementary to the last item, one should be able to create users in the system via an interface, 
	probably a signup/register screen. - done

	<br>+ задеплоїть на хероку і залити на гітхаб, бажано на гітхаб заливати поступово, логічними частинами
</h3>